<div class="container-fluid">
    <div class="row my-3 d-flex align-items-center">
        <div class="col-md-8">
            <h1 class="display-4 my-3">Welcome to Bank</h1>
            <h2>All new Banking – simple, smart & intuitive</h2>
            <p class="lead my-3">
                Our new Banking is loaded with
                exciting new features to give you an
                effortless experience like never before.
                </p>
        </div>
        <div class="col-md-4">
            <img class="home-img" src="assets/Bank-PNG-File.png" alt="">
        </div>
    </div>
</div>